[2015-02-06 10:21] mrsimonbennett opened #1 "Optional List routes after a scan"
Hello,

I proposed this when it was still in the core, Wonder what you think.

https://github.com/laravel/framework/pull/6481

[2015-02-06 15:24] adamgoose commented on #1
Go ahead and send another PR to this repo.

[2015-02-06 15:42] mrsimonbennett commented on #1
(Y)

[2015-02-06 15:42] mrsimonbennett commented on #1
:thumbsup:

see https://github.com/LaravelCollective/annotations/pull/2

[2015-02-06 21:17] adamgoose opened #3 "Add ability to register a domain filter on a `@Resource` annotation."
Currently, the system does not support adding domain filters to a `@Resource` annotation.

[2015-02-07 20:48] adamgoose opened #4 "Add `vendor:publish` capability to install a stubbed ServiceProvider"
Using the `$this->publishes()` method, documented [here](http://laravel.com/docs/5.0/packages), let's give the ability for users to install the proper `AnnotationsServiceProvider` directly into their `base_path('app/Providers')` directory.

[2015-02-07 21:44] tshafer commented on #4
+1

[2015-02-10 10:56] IonutBajescu opened #5 "@Any annotation"
Currenly registering both `get` and `post` with an annotation looks like this:
![img](http://i.imgur.com/Hy471Jx.png)

For interoperability we should add the `@Any` annotation.

I'll be back soon with a pull request for this feature.

[2015-02-10 10:58] tshafer commented on #5
Sounds good. Thanks!

[2015-02-10 17:47] #5 closed

[2015-02-17 16:55] #1 closed

[2015-02-26 11:24] mrsimonbennett opened #9 "[Idea] event:list"
What do you think to the idea of listing all events in a CLI table.

[2015-02-26 13:07] RobinMalfait commented on #9
Actually, I would love this!

[2015-02-26 19:52] adamgoose opened #10 "[Proposal] Route Model Binding"
So here's the idea... When you register a resource controller with the `@Resource` annotation, I think it'd be nice to be able to specify the model that the resource is for. For example...

[code]

This would register routes in the following fashion:

[code]

Please share your thoughts and help me determine if...

1. This is a good place to put such an annotation.
2. It'd even be helpful to anyone

[2015-02-26 19:54] tshafer commented on #10
I think this is a great idea. It is a route after all.

[2015-02-26 21:58] mrsimonbennett commented on #9
eg

![screen shot 2015-02-26 at 21 58 01](https://cloud.githubusercontent.com/assets/1471305/6402822/92effd1a-be02-11e4-8c80-101c772f449e.png)

[2015-02-27 08:49] thecotne commented on #10
what will be replacement for this?

[code]

[2015-02-27 08:50] tshafer commented on #10
Good question. This is something that still needs to be hashed out. Any ideas?

[2015-02-27 08:55] thecotne commented on #10
[code]

or

[code]

[2015-02-27 09:22] RobinMalfait commented on #9
@adamgoose do you like this? :)

[2015-02-27 09:23] RobinMalfait commented on #9
@mrsimonbennett I like that actually :+1:

[2015-02-27 09:26] RobinMalfait commented on #10
@thecotne you can actually replace this with a shorter syntax, so maybe easier to fix?

[code]

[2015-03-04 21:26] kirkbushell opened #11 "Issues with routes when being called from within the framework"
If I use the framework's test methods to make a call to either a controller action or a route, I see the following error:

    PHP Fatal error:  Call to a member function domain() on null in vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php on line 440

This does not happen if I do not use annotations.

[2015-03-04 21:27] kirkbushell commented on #11
Full stack trace:

PHP Stack trace:
PHP   1. {main}() /Users/kirkbushell/Documents/Development/Tectonic/AwardForce/vendor/behat/behat/bin/behat:0
PHP   2. Symfony\Component\Console\Application->run() /Users/kirkbushell/Documents/Development/Tectonic/AwardForce/vendor/behat/behat/bin/behat:31
PHP   3. Behat\Testwork\Cli\Application->doRun() /Users/kirkbushell/Documents/Development/Tectonic/AwardFor

[2015-03-05 06:01] dwightwatson commented on #10
You might also need to consider what happens when it's a nested resource and you want to use model binding. For example, the nested model in a resource probably needs to be confirmed that it belongs to the parent resource.

There has been some discussion on this problem in laravel/framework#7132. Hopefully the framework can provide a good solution to this problem and then an appropriate implementa

[2015-03-07 23:30] #4 closed

[2015-03-07 23:46] adamgoose commented on #10
I've switched this proposal to be something along these lines:

[code]

This annotation is currently featured in the master branch.

[2015-03-07 23:52] #10 closed

[2015-03-07 23:58] tshafer commented on #9
This is a request for the laravel core.

[2015-03-07 23:58] #9 closed

[2015-03-08 10:15] RobinMalfait commented on #10
@adamgoose Can annotations work as an interface?

Like if you could say that when you have a `@BindModel` that you have to implement a method in that model like

[code]

And if you use routes you have this:
`get("/users/{username}", "UsersController@show");`

If you use it this way, you are not limited to `User::find($x);`

[2015-03-09 08:07] adamgoose commented on #10
Yeah, I like this idea. Can you please submit it as another Issue? We can implement it in the next release.

[2015-03-09 10:47] dwightwatson commented on #10
Laravel 5 introduced the concept of a [route key for Eloquent models](http://laravel.com/docs/5.0/eloquent#model-url-generation). The [`UrlRoutable` interface](https://github.com/laravel/framework/blob/5.0/src/Illuminate/Contracts/Routing/UrlRoutable.php) could make the default lookup smarter.

`$model->where($model->getRouteKeyName(), $param)->firstOrFail();`

[2015-03-09 11:51] RobinMalfait opened #13 "Route Model Binding Idea"
Hey!

Can annotations work as an interface?

Like if you could say that when you have a `@BindModel` that you have to implement a method in that model like

[code]

And if you use routes you have this:

[code]

If you use it this way, you are not limited to

[code]

What do you guys think? :)

[2015-03-09 22:57] adamgoose commented on #13
Look at this...

https://github.com/laravel/framework/blob/5.0/src/Illuminate/Routing/Router.php#L938-L959

[2015-03-12 19:32] kirkbushell opened #14 "Using literal quotes breaks the package"
If I do the following:

[code]

It results in the following error:

[code]

This is easily solved by using double quotes ("") however - this was not clear at all initially. Both single and double quotes should be supported. In fact, because there are no variables - single quotes should even be the default (to match the language).

[2015-03-12 19:54] adamgoose commented on #14
As much as I agree with you, this is the responsibility of the Doctrine Annotations package. Laravel Annotations simply uses the Doctrine package to read the annotations, and register the routes accordingly. Unfortunately, we do not control how the annotations are interpreted.

[2015-03-12 19:54] #14 closed

[2015-03-19 13:09] IonutBajescu commented on #11
Hmm, can you please provide also the code which throwed this error? This happened to me in the past when I misspelled the controller names.

[2015-03-24 23:18] #11 closed

[2015-03-24 23:19] kirkbushell opened #16 "Can the @Middleware annotation accept custom params?"
I'd like to be able to pass some configuration to a piece of middleware I've written. Is it possible to do this at all?

Something like:

    @Middleware("SomeMiddleware", param="value")

?

[2015-03-25 07:10] RobinMalfait commented on #16
Hmmm, why would you set that? can't you just set an attribute on the class?

[code]

[2015-03-25 16:32] kirkbushell commented on #16
@RobinMalfait because I want a specific piece of middleware to have a certain configurable option. Having it on the controller doesn't help. It's the middleware that needs to have it :)

[2015-03-25 16:34] kirkbushell opened #17 "Minor issue - convert the project to proper FIG standards"
It's a big public project - help support the standards that are in place, rather than using Laravel's bastardised version ;)

[2015-03-25 16:34] tshafer commented on #17
We support pull requests.

[2015-03-25 18:01] adamgoose commented on #16
You're not the only one who has requested this functionality. Currently, this is not possible because Middleware only accepts the request object. I have a couple ideas in the pipeline since I have recently implemented something _similar_. I'm hoping to make annotation customization more flexible, which could help you solve this.

[2015-03-25 18:01] #16 closed

[2015-03-27 06:03] jonathanpmartins opened #18 "Bug when update to Laravel v5.0.21."
When I update to Laravel 5.0.21 the command 'php artisan route:scan' and 'php artisan route:list' dont work anymore. I get this error:

    [Symfony\Component\Debug\Exception\FatalErrorException]
        Call to a member function routeScans() on a non-object

[2015-03-27 14:40] chood531 commented on #18
yes, same error for me too.

[2015-03-27 14:50] tshafer commented on #18
Adam or I will take a look soon.

—
Tom Shafer

On Fri, Mar 27, 2015 at 7:40 AM, chood531 notifications@github.com
wrote:

[2015-03-27 16:12] adamgoose commented on #18
Fixed in v5.0.5

[2015-03-27 16:12] #18 closed

[2015-03-27 18:33] #13 closed

[2015-03-27 21:08] jonathanpmartins commented on #18
Sorry, I'm using version 5.0.4. Updating now!

[2015-04-18 01:53] Anahkiasen opened #19 "Model bindings not being read when routes are cached"
I don't know if this is a bug or a peculiarity of behavior not explained in the docs, but when routes are cached, the scanned model bindings are not being loaded, because of [this condition](https://github.com/LaravelCollective/annotations/blob/master/src/AnnotationsServiceProvider.php#L122)

Should the model bindings be cached too or something?

[2015-04-18 18:50] adamgoose commented on #19
No, you're right. That's a bug. Would you mind submitting a PR that removes that `if` statement?

[2015-04-19 13:26] #19 closed

[2015-04-20 14:38] tshafer opened #22 "Annotations can't scan traits."
Annotations does not currently support scanning traits attach to controllers.

[2015-04-28 14:03] Anahkiasen commented on #17
:+1:

[2015-04-28 15:17] adamgoose commented on #17
Thanks for your feedback, guys. But we're going to stick with the Laravel code style until Laravel switches to PSR-2 in just a couple of weeks with the release of 5.1. Thanks.

[2015-04-28 15:17] #17 closed

[2015-05-07 21:54] hackel opened #24 "Route model binding is ignored in one controller"
This is a really odd issue.  I've defined a binding in my model.  On my local installation, this works perfectly for both my admin and api controllers.  I've just deployed this project to a dev server, and the binding works fine on the api routes, but is ignored on the admin routes.  A plain ID string is being passed into my controller methods instead of the respective model.  I cannot account for

[2015-05-07 21:56] adamgoose commented on #24
Can you please share two files:
- `storage/app/models.scanned.php`
- `storage/app/routes.scanned.php`

Also, could you please truncate the `routes.scanned.php` to include ONLY the relevant routes. Essentially, I'd like _all_ of the routes for _one_ API controller, and for _one_ Admin controller.

[2015-05-07 23:45] Anahkiasen opened #25 "Add @Composes annotation"
For view composers:

[code]

Would be nice in my opinion, what do you think?

[2015-05-08 00:52] hackel commented on #24
Bah, I finally figured out the issue.  I simply needed to run "artisan model:scan" to generate my models.scanned.php file.  I never had to do this on my local instance, presumably because I have set `$scanWhenLocal = true`.  This should really be added to the documentation!

[2015-05-08 00:52] #24 closed

[2015-05-08 01:01] Anahkiasen commented on #25
I have this working [in a fork](https://github.com/LaravelCollective/annotations/compare/5.0...Anahkiasen:feature/composer-annotations?expand=1) but as you can see every time a scanner type is added there is a _load_ of boilerplate that is repeated all across the codebase.

Shouldn't most of that be abstracted somewhere? Seems to be pretty much always the same thing (register the scanner, check if

[2015-05-08 13:36] tshafer commented on #25
I'll talk to Adam and see if he's open to adding this functionality.

[2015-05-09 11:47] Anahkiasen opened #26 "Add ability to specify method for @Bind"
Example:

[code]

Translating to

[code]

Currently if you don't use the default `find` method, you can't use the annotation.

[2015-05-09 13:06] tshafer commented on #26
Correct, you would need bind your model with a closure to do this.  There was discussion about adding something like this but it was decided to keep it simple.

[2015-05-09 17:26] Anahkiasen commented on #26
What do you mean? The @ syntax works for route bindings too, in my example there would be a findBySlug method on the model

[2015-05-19 17:45] hackel commented on #26
+1 This would be very useful.

[2015-05-19 17:59] hackel opened #29 "Defining parent method disables annotated routes"
All of my controllers extend an abstract base controller.  If I define an update() method in that base controller, route annotations stop working on all controllers that extend from that base.  I'm using @resource controllers.  There are no route annotations at all in the base controller.  If I try to add a route annotation (e.g. @get) to the update() method in the base controller, the route does

[2015-05-21 16:02] adamgoose commented on #22
Tom, I know you touched some of this last week. Were you successful at all? Let's chat today.

[2015-05-21 16:21] tshafer commented on #22
I didn't get a chance to start, i got dragged into some other work.

[2015-05-25 21:23] Anahkiasen opened #31 "@Prefix annotation"
This would be nice for controllers, PHP equivalent of doing per example:

[code]

Now you'd have

[code]

[2015-05-26 16:57] adamgoose commented on #31
This functionality already exists. See the below example.

[code]

[2015-05-26 16:57] #31 closed

[2015-05-27 16:11] Anahkiasen commented on #31
Hm need to PR the docs then as [this is not mentioned in it](http://laravelcollective.com/docs/5.0/annotations)

[2015-06-03 21:14] Anahkiasen opened #32 "Laravel 5.1 support?"
I see `laravelcollective/html` is already supporting 5.1 but annotations is not, is there a major blocking point preventing support currently?

[2015-06-03 21:16] adamgoose commented on #32
Sorry, no. Just haven't had time to branch-alias it. I plan to work on getting things ready for Tuesday this weekend.

[2015-06-03 21:17] Anahkiasen commented on #32
Aight cool, good to know, thanks!

[2015-06-08 20:56] dannykopping commented on #31
:+1:

[2015-06-09 09:04] jonathanpmartins commented on #32
Will know when come ou too! :+1:

[2015-06-09 09:49] jonathanpmartins commented on #32
@adamgoose @tedslittlerobot @tshafer @Anahkiasen

Just change the composer.json files to support symfony console 2.7 and symfony finder 2.7.

[code]

I tried it out with composer, take a look:

https://github.com/jonathanpmartins/annotations-laravel-5-1
https://packagist.org/packages/jonathanpmartins/annotations-for-laravel-5.1#5.0.x-dev

....in my composer.json:

"jonathanpmartins/annotations-for

[2015-06-10 18:04] jonathanpmartins commented on #32
L5.1 lauched!

[2015-06-15 20:52] bkintanar commented on #32
Still no updates on this yet?

[2015-06-18 01:42] jonathanpmartins commented on #32
@adamgoose @tshafer Can you create the new annotation 5.1 branch? So we can propose a Pull Request?

[2015-06-18 03:22] #32 closed

[2015-06-19 06:33] jonathanpmartins commented on #32
@adamgoose Nice! Thank you very Much! :smile:

[2015-07-23 01:13] #22 closed

[2015-07-23 10:16] IonutBajescu opened #35 "Limit the scanEverything method"
I think that we should have an option to scan only certain namespaces. (like App\Models, App\Http\Controllers - you get the idea)

In the current state,  $scanEverything takes 4 seconds of the booting load which is enormous and makes the development impossible.

If no one has something against this feature I'll do a pull request as soon as possible.

[2015-07-23 11:40] tshafer commented on #35
I ran into this problem last night. I like the idea.

[2015-09-08 22:54] chasen opened #36 "@Middleware not inherited from parent class"
If you are using a base class to accomplish route "groups" for middle ware the annotation isnt inherited

[code]

Running `php artisan route:scan` completes without errors but `php artisan route:list` shows the route without the middleware.

Is this working as intended or a bug?

[2015-09-08 23:02] adamgoose commented on #36
At the moment, it is "as expected," however it would be possible for us to scan class inheritance for annotations and apply them as well. Will keep this issue open as a Feature Request.

[2015-11-04 00:38] tankerkiller125 opened #37 "Lumen Support?"
Would it be possible to support Lumen? As of current it is not.

[2015-11-25 12:27] markusjwetzel commented on #37
+1

[2015-11-26 09:59] Anahkiasen commented on #25
Any news on this one?

[2015-12-08 22:52] buzdykg opened #40 "Middleware parameters"
Hi!
Is there a way to pass a middleware parameter using the `@Middleware` annotation?
(docs don't have info on that & skimming the package code hasn't helped as well)

[2015-12-14 23:07] #40 closed

[2015-12-21 08:43] mstaack commented on #37
+1

[2015-12-23 08:28] adamgoose commented on #37
We officially will not be supporting Lumen.

[2015-12-23 08:28] #37 closed

[2015-12-24 09:25] Oguzhanpiskin opened #41 "How can I auto define routenames for Controllers like resources done"
Question is simple Is there a way to do that with annotations?

I need {prefix}.{@Get("url")}.controllerMethod how can I automize that?

[2015-12-24 10:15] terrylow opened #42 "annotation route cache"
I have some simple annotations setup with laravel 5.2

`@Get("/", as="home")`
`@Get("/about", as="about")`
`@Get("/contact", as="contact")`

routes are scanned and routes show in route:list command, but after perform a route:cache, no route is found and causes a NotFoundHttpException. is this an intended behaviors?

[2016-01-30 12:05] VeeeneX opened #43 "Multiple annotation providers"
I've tried to register multiple annotation providers, in result only last registered worked. Is there any workaround?

[2016-01-30 12:55] VeeeneX commented on #43
I think I find where the problem is:

`AnnotationsServiceProvider.php`, registers command only once, so if I add another provider, previous is rewriten and new is added.

[code]

And here is a fix:

RouteScanCommand.php

[code]

ProviderCollection\RouteServiceAnnotationsProvider.php

[code]

AnnotationsServiceProvider.php

[code]

It works but it is not fancy.

[2016-02-13 03:08] hackel commented on #26
@tshafer Any update on this?  You very rudely closed my PR without giving any comment or indication as to why it was unacceptable and ignored my request for more information.  Let's work to find a reasonable solution to this so that I do not have to continue to maintain a separate fork.

[2016-02-23 10:12] vesper8 opened #44 "what is proper way to implement the 'web' middleware group introduced in laravel 5.2?"
I'm having a hard time understanding how to make a whole controller require auth now that the 'web' middleware group was introduced in 5.2

It seems that the way that is intended is to put all the routes inside of a

[code]

But how does that translate to annotations?

[2016-02-23 11:20] vesper8 commented on #44
nevermind... it was as simple as adding this to the top

[code]

[2016-02-23 11:20] #44 closed

[2016-03-01 08:53] takahashiyuya commented on #36
Also `@Controller` prefix is not inherited from parent.

[2016-03-03 04:04] tshafer commented on #43
Yea this package needs rewritten. Im going to try to work on that this month.

[2016-03-08 21:00] Anahkiasen commented on #41
`@Controller(prefix="foobar")` on the class itself works for me

[2016-04-22 02:24] hackel commented on #40
So you closed this without explanation...did you find a solution?

Edit: Nevermind.  `@Middleware("name:param1,param2")` actually works just fine, though all parameters come in as strings.

[2016-04-25 17:41] EmilMoe opened #45 "Middleware parameter in documentation"
I would be nice to have this added to the documentation

https://github.com/LaravelCollective/annotations/issues/40

[2016-05-10 07:22] Padarom commented on #45
Have you seen @hackel's edit to his comment?

[2016-07-23 19:23] EmilMoe opened #46 "Implement web and auth middleware globally"
Following https://github.com/LaravelCollective/annotations/issues/44

Is there a way to globally add these to all routes? I tried in Controller.php but that didn't work. I would like not have to write it in top of all my controllers.

[2016-07-30 16:03] EmilMoe opened #47 "Strange error on production server only"
Read this on Laracasts forum: https://laracasts.com/discuss/channels/laravel/blank-page

[2016-11-18 20:58] Younesi commented on #41
`@Controller("bars", prefix="foo")` creates routes for example  like `foo/bars/create` but the route name is still without prefix! it's `bars.create`

[2017-01-11 02:01] hackel opened #49 "AnnotationScanner's Reflection exception squashing is too broad"
I just spent a few hours debugging, trying to figure out why one of my route model bindings was suddenly not working.  I finally traced it to an exception that was being squashed in
[\Collective\Annotations\AnnotationScanner::getClassesToScan](https://github.com/LaravelCollective/annotations/blob/5.3/src/AnnotationScanner.php#L66).

It was trying to create a ReflectionClass for a class in which I

[2017-01-25 10:10] vesper8 opened #52 "laravel 5.4 support please :)"
don't think much has changed so probably be a real easy fix for you :)

thanks!

[2017-01-30 04:39] #49 closed

[2017-01-30 04:55] #52 closed

[2017-01-30 11:48] lptn opened #53 "FatalErrorException: "Trait 'Illuminate\Console\AppNamespaceDetectorTrait' not found""
**Branch**: 5.4
Reason: see https://laravel.com/docs/master/upgrade#upgrade-5.4.0 , 'Console' section:

PS: I'm working on PR

[2017-01-30 12:37] #53 closed

[2017-01-30 13:08] bastian-schur opened #55 "ClassFinder.php removed in laravel 5.4"
In Laravel 5.4 the Illuminate\Filesystem\ClassFinder.php was removed.

Annotations use this class and nothing works!

[2017-01-30 15:34] mlantz commented on #55
Turns out it was missed because the class was actually mocked in the tests, I've brought the file from 5.3 forward into the codebase, so I'll review and release later today, sorry about this.

[2017-02-23 15:26] Grummfy opened #57 "[features]Route scanning inside route definition"
Hello,

So grouping with annotation is something that's missing.

1) So I got a first idea. In a route file, declaring something like this :

[code]
So, it will scan the Foo directory and all route given by the annotation will inherit of group property (middleware, prefix, etc). So if we find a method or a controller with a prefix, it will be added, etc.
So, for sure we will require to cache this

[2017-02-23 15:28] Grummfy commented on #46
perhaps #57 can help on this?

[2017-03-02 10:16] bl0wfish commented on #46
A solution would be to override the _loadScannedRoutes_ method in your _AnnotationsServiceProvider_ like this:

[code]

[2017-03-24 08:59] vesper8 opened #59 "how to set patterns for wildcards in annotations?"
I'm using many wildcards and getting some mismatching which would be solved if patterns were respected

for example I have these two routes

/{any}/{page}
and

[2017-03-24 09:38] vesper8 commented on #59
managed to the get patterns so I know they're not being ignored, but would still like to know if I can set a pattern via annotation

[2017-06-08 13:19] StefanPrintezis commented on #4
Why was this closed? I'm asking because I want to implement this behaviour in my package.

[2017-08-02 14:16] Grummfy opened #61 "abandonned ?"
Hello,
is this project abandoned?

[2017-08-08 10:49] wwulfric opened #62 "Annotation must be quoted by double quotes"
[code]

If annotation is quoted by single quotes, `php artisan route:scan` will throw an exception:

[code]

[2017-08-27 16:53] mvatansever commented on #61
Does anyone may answer this question?

[2017-10-25 10:15] montyclt opened #65 "Is the 5.4 branch compatible with Laravel 5.5?"

[2017-10-26 06:33] vesper8 commented on #65
i've been using it for months so yea. the only problem is the commands have fire() methods in them and those were deprecated in 5.5 so you need to replace them by handle()

[2017-10-27 08:25] montyclt commented on #65
Thanks you! I've noticed you sent a PR. https://github.com/LaravelCollective/annotations/pull/63

[2017-10-27 08:25] #65 closed

[2017-11-14 20:37] developerant opened #67 "Possible to set order of routes in annotations?"
Wondering if it's possible to set the order of the routes if they are in different controllers?

Thanks for maintaining this, hoping for the 5.5 release soon :)

[2017-11-15 15:16] professor93 opened #68 "Laravel 5.5"
Can i use with Laravel 5.5?

[2017-11-17 08:55] montyclt commented on #68
https://github.com/LaravelCollective/annotations/issues/65

[2017-12-10 16:03] mohammedzaki commented on #68
you can use it at this repo https://github.com/mohammedzaki/annotations.git
on composer file
add this version to require-dev section
"require-dev": {
"laravelcollective/annotations": "5.5.0"
}
and add this repo to repositories section
"repositories": [
        {
            "type": "git",
            "url": "https://github.com/mohammedzaki/annotations.git"
        }
    ]

[2018-01-04 10:55] alexf-edp commented on #68
Tried the above repo https://github.com/mohammedzaki/annotations.git; v5.5.0 seem like it is not fully compatible with Laravel 5.5; some of the console commands have fire() methods in them.
Such as the  RouteScanCommand.php, EventScanCommand.php and ModelScanCommand classes. @

[2018-01-06 19:18] mvatansever commented on #61
I use my own fixed version for a 5 month and I didn't face any problem until now.
If you want to use this package add below codes to your **composer.json** :
`	"require": {
		"laravelcollective/annotations-edited": "dev-master",
	},
	"repositories": [
		{
			"type": "git",
			"url": "https://github.com/mvatansever/annotations"
		}
	]`

Or you should download the package from my repository and use

[2018-01-15 12:48] mohammedzaki commented on #61
ok, Thanks a lot,
I will work on it.

[2018-01-22 08:08] Grummfy commented on #61
At least the author should declare it abandoned and let someone take the relay on it.

ping @adamgoose or @tshafer ?

[2018-02-05 14:49] tshafer commented on #61
No abandoned. I will try to run through all of the packages daily.

[2018-02-05 14:49] #61 closed

[2018-02-05 14:51] #3 closed

[2018-02-05 14:51] #25 closed

[2018-02-05 14:51] #26 closed

[2018-02-05 14:52] tshafer commented on #29
We accept pull requests.

[2018-02-05 14:52] #29 closed

[2018-02-05 14:53] #35 closed

[2018-02-05 14:53] tshafer commented on #36
We accept pull requests.

[2018-02-05 14:53] #36 closed

[2018-02-05 14:53] #41 closed

[2018-02-05 14:54] tshafer commented on #42
Is this still an issue?

[2018-02-05 14:54] #43 closed

[2018-02-05 14:54] #45 closed

[2018-02-05 14:54] tshafer commented on #46
We accept pull requests.

[2018-02-05 14:54] #46 closed

[2018-02-05 14:55] #47 closed

[2018-02-05 14:55] #55 closed

[2018-02-05 14:55] tshafer commented on #57
We accept pull requests.

[2018-02-05 14:55] #57 closed

[2018-02-05 14:56] tshafer commented on #59
Im not sure if this is possible. Ill dig into it soon.

[2018-02-05 14:57] tshafer commented on #62
We accept pull requests.

[2018-02-05 14:57] #62 closed

[2018-02-05 14:57] tshafer commented on #67
Currently not supported. We accept pull requests.

[2018-02-05 14:57] #67 closed

[2018-02-05 14:57] #68 closed

[2018-02-15 09:14] Grummfy opened #73 "laravel 5.6?"
IS it compatible with 5.6?

[2018-02-15 12:39] lucasctd commented on #73
I tried to install it on a Laravel 5.6 project and it does not work.
Laravel 5.6 requires illuminate/filesystem: v5.6.3 but laravelcollective/annotations (dev-master / 5.5.x-dev) requires illuminate/filesystem: 5.5.*.

[2018-02-15 17:40] tshafer commented on #73
Ill get this upgraded to 5.6 tonight.

[2018-02-16 15:58] lukasvy opened #75 "Laravel Annotation commands"
function fire of commands EventScanCommand.php, ModelScanCommand.php, RouteScanCommand.php should be renamed to handle

[2018-02-18 20:53] vesper8 commented on #73
@tshafer any update please? I love this package and use it everywhere!

[2018-02-22 01:52] EmilMoe commented on #73
Yeah.. I would like an update too

[2018-02-22 02:20] tshafer commented on #73
Sorry. I got swamped. I'll tackle this in the morning.

[2018-03-01 04:53] EmilMoe commented on #73
Still no updates?

[2018-03-01 13:02] tshafer commented on #73
Its there.

[2018-03-01 14:28] #73 closed

[2018-03-07 09:29] Grummfy opened #76 "master integrate to 5.6 ?"
Hello,
is it possible to integrate all the change in the master to the 5.6 version?

thanks

[2018-03-29 08:19] kohkimakimoto commented on #42
I've had same issue. In my case, the issue caused by removing `App\Providers\RouteServiceProvider::class` from `config/app.php`. By using annotation, I thought that `App\Providers\RouteServiceProvider` was no longer used,  because this provider did not load any routing files like `routes/web.php`.

But, in the production environment that loads routing cache, we need to use `App\Providers\RouteServ

[2018-04-13 10:15] theupriser opened #77 "Laravel 5.6: "file_get_contents(/var/www/vhosts/webrising.nl/laravel/composer.json): failed to open stream: No such file or directory""
Hello,

I tried to install the plugin with version 5.6 of laravel. But I've got an error when setting scanControllers in AnnotationsServiceProvider to "true". So far I tried to install version 5.6 and 5.6.x-dev, both the same error.

ErrorException thrown with message "file_get_contents(/var/www/vhosts/webrising.nl/laravel/composer.json): failed to open stream: No such file or directory"

Stacktra

[2018-04-13 12:47] theupriser commented on #77
Conclusion I'm a moron, my composer.json was not uploaded..

[2018-04-13 12:47] #77 closed

[2018-09-12 06:42] wujunze opened #78 "please release 5.7"
please  release 5.7

[2018-09-19 14:18] johntimothybailey commented on #78
@wujunze I created a pull request #79. That said, not sure how @tshafer and the other maintainers would like Pull Requests submitted. So #79 may need to be closed an new one created.

[2018-09-19 14:22] johntimothybailey commented on #75
@lukasvy *You may have already noticed* the commands have `handle` instead of `fire` starting with version [`5.5`](https://github.com/LaravelCollective/annotations/blob/5.5/src/Console/ModelScanCommand.php#L59)

The default branch is `5.6` and it is the latest available on packagist

[2018-10-09 15:04] EmilMoe commented on #78
This is really bad that it's such a slow progress

[2018-10-09 15:06] tshafer commented on #78
I am no longer a active maintainer.

[2018-10-09 15:07] EmilMoe commented on #78
Does this mean that the library will not get updates @tshafer

[2018-10-09 15:08] tshafer commented on #78
Not unless the other active maintainers do it.

—
Tom Shafer

From: Emil Moe <notifications@github.com> <notifications@github.com>
Reply: LaravelCollective/annotations
<reply@reply.github.com>
<reply@reply.github.com>
Date: October 9, 2018 at 8:07:17 AM
To: LaravelCollective/annotations <annotations@noreply.github.com>
<annotations@noreply.github.com>
Cc: Tom Shafer <tj@tjshafer.com> <tj@tjshafer.

[2018-10-09 15:12] EmilMoe commented on #78
Thanks for the reply @tshafer Now I can better justify my time towards taking down the annotations.

[2018-11-27 10:46] igronus commented on #68
Just write `"laravelcollective/annotations": "5.*"` to your require section of composer.json and do update.

[2019-04-14 02:35] alexfoo commented on #59
I managed to get it working like this after #83:
[code]

Tested like this:
[code]

But the where parameter should work like this even before the patch:
[code]

[2019-04-14 21:40] loonytoons commented on #78
5.7 is now released, 5.8 incoming soon

[2019-04-14 21:40] #78 closed

[2019-04-14 21:42] loonytoons commented on #76
all the latest changes from master are now in the 5.7 branch.
I don't believe it is necessary to add the changes to the 5.6 branch, as we're now up to 5.8 on the latest version of laravel (annotations update will be published soon)

[2019-04-14 21:42] #76 closed

[2019-04-22 22:12] loonytoons commented on #75
Closing as the function is already called `handle` in the latest versions, thanks @johntimothybailey

[2019-04-22 22:12] #75 closed

[2019-05-22 22:43] loonytoons commented on #42
I've added a comment to the readme to clarify that the RouteServiceProvider is still required

[2019-05-22 22:43] #42 closed

[2020-02-24 19:45] tjhunkin opened #94 "Laravel 6 ErrorException : Undefined property: Collective\Annotations\Routing\Annotations\ResourcePath::$no_prefix"
PHP 7.2.19
Laravel Framework 6.16.0
laravelcollective/annotations v6.0.2

config/app.php

When including the provider: App\Providers\AnnotationsServiceProvider::class

I get the following error:

**ErrorException  : Undefined property: Collective\Annotations\Routing\Annotations\ResourcePath::$no_prefix**

[2020-02-25 07:46] tjhunkin commented on #94
@Controller needs to appear BEFORE @Resource

E.g.
 * @Controller(prefix="tickets")
 * @Resource("ticket", only={"store"})

[2020-02-25 07:46] #94 closed

[2020-02-25 08:33] loonytoons commented on #94
thanks @tjhunkin. I'll take a look into it as soon as I can, see if it's possible to remove that constraint, but will update the docs if nothing else

[2020-02-25 08:40] tjhunkin commented on #94
Thanks @loonytoons

[2020-03-05 22:26] vesper8 opened #95 "Laravel 7 compatibility"
`6.0` is not compatible with Laravel 7 due to `illuminate/filesystem ^6.0`

@mlantz Any chance you could release a new version with Laravel 7 compatibility like you did 5 months ago for Laravel 6?

That would be great!!! Thanks!

[2020-04-05 16:15] vesper8 commented on #95
@mlantz or @loonytoons or @alexfoo any chance one of you could please merge https://github.com/LaravelCollective/annotations/pull/96/files and tag a new 7.0 release pretty please?

many thanks

[2020-04-05 21:01] loonytoons commented on #95
👍 thanks for the prompt. I won't have time to look today unfortunately, but after that will see if I can get those tests passing so we can get that merged (unless anyone beats me to it)

[2020-04-07 09:50] loonytoons commented on #95
Sorry for the delay, I've updated that branch to fix the tests and created a 7.0 release.
Shout out if there are any issues, I only have a very basic setup to test against at the moment

[2020-04-07 09:50] #95 closed

[2020-04-07 13:55] vesper8 commented on #95
thank you @loonytoons !

[2020-09-17 16:33] kw-jeff opened #99 "When are you going to support Laravel 8?"
Hello.

My Project created using laravel 8.

So I want to use annotations but not support for laravel 8.

I need help

Thank you.

[2020-09-19 09:29] loonytoons commented on #99
Thanks @kw-jeff, this should be coming in the next few days, sorry for the delay!

[2020-09-22 07:06] loonytoons commented on #99
@kw-jeff I've just pushed the laravel 8 compatible release. Let me know if you have any issues!

[2020-09-22 07:06] #99 closed

[2020-10-09 00:01] somoza opened #101 "Routes repeated because extended classes"
If I extend a class on the controller, the routes get repeated... For example, I've 5 controllers that extend a common controller X. The X controller routes are being added 6 times into routes.scanned.php and Laravel 8 complains about repeated route names.

Thanks!

[2020-10-09 02:02] somoza commented on #101
Problem located. ReflectionClass is not able to ignore parent classes... Looking forward to a solution.

[2020-11-25 20:02] somoza commented on #101
Any update so far?

[2020-11-25 20:19] loonytoons commented on #101
Oh wow, this totally slipped through my net.
I'll take a look this weekend

[2020-11-25 20:56] isa95Ar commented on #101
I found a little fix for solve this problem if you go to
annotations\src\Routing\Annotations\AnnotationSet.php

[code]

the validation
`if($method->class == $class->name) `

make the difference.

[2020-11-26 00:38] somoza commented on #101
Thanks @isa95Ar , sounds like a good approach.

[2020-11-26 01:05] somoza commented on #101
@loonytoons I've created this pull request https://github.com/LaravelCollective/annotations/pull/103

[2020-11-26 03:11] somoza commented on #101
I've prepared this pull request based on @isa95Ar  suggestion. https://github.com/LaravelCollective/annotations/pull/104

[2020-12-01 07:35] loonytoons opened #106 "Migrate away from travis-ci.org"
travis-ci,org is shutting down on the 31st Dec 2020, and current queue times are extremely long.
The tests should be migrated to run on travis-ci.com or an alternative

[2020-12-04 14:28] vesper8 commented on #59
@alexfoo thanks a lot for your reply!

Would you happen to know how I can set it so that it would match anything except a short list of reserved words?

Meaning, I have this route annotation

[code]

And I want this route to match every word, alpha or numeric or whatever, except for a small list of these reserved routes: nova, telescope, horizon, log-viewer

I'm really bad a regex and can't seem t

[2020-12-04 14:39] vesper8 commented on #59
Figured it out!

[code]

[2020-12-14 04:05] loonytoons commented on #101
Merged into 8.0

[2020-12-14 04:05] #101 closed

[2020-12-15 05:12] bleizstudio opened #107 "Compatibility with PHP 8 ?"
Hi,

Is it possible to add compatibility with PHP8 to the composer.json please?

Looking forward to hearing from you,
Best regards,

[2020-12-15 17:54] #107 closed

[2021-01-05 02:28] kw-jeff opened #109 "When is it compatible with php8?"
I have a question...

When is it compatible with php8?

[2021-01-15 21:02] pishguy commented on #109
+1

[2021-01-16 15:52] MahdiPishguy opened #110 "scanning route doesn't work"
i'm using latest version of the package:

`"laravelcollective/annotations": "^8.0.1",`

and after implementing package into our application and try to use this command:

[code]
this files are empty inside `storage/framework/models.scanned` and  `storage/framework/routes.scanned`

and this is my `AnnotationsServiceProvider` class content which i registered into `app.conf` file

[code]

`Annotations

[2021-01-19 20:17] #110 closed

[2021-01-19 20:32] MahdiPishguy opened #111 "is it possible to support Laravel LiveWire?"
in our application we try to use `protected $scanEverything = true;` for scanning `Livewire` components, but it doesn't work

[2021-01-20 14:09] MahdiPishguy opened #112 "make a single resource route"
in this code when i scan route, that make some routes for all of `resource` http verbs, for example:

[code]

`routes.scanned.php` contains:

[code]

[2021-05-11 19:36] Putr opened #115 "8.0.2 stops scanning"
Hi,

I upgraded to 8.0.2 and all scaning (automatic and via cli) stopped working. I'm on Laravel 8.

Downgrading to 8.0.1 fixed it.

No logs, no errors, nothing. It just creates *.scanned.php files and places <?php inside with a few empty lines, nothing more.

[2021-05-26 09:29] loonytoons commented on #115
Thanks @Putr. Can you give me some more info about the various versions that you're using for Laravel and PHP?
I can't seem to replicate this at all.
Thanks!

[2021-11-08 10:02] josefryzi opened #118 "Comaptibility with RouteServiceProvider - respect the order of initialization"
Hi,
is it possible to respect order of initialization in app/providers.php?

My app providers order:
- App\Providers\AnnotationsServiceProvider::class,
- App\Providers\RouteServiceProvider::class,

The intro:
- I am using RouteServiceProvider with some routes in web.php
- I am using fallback route Route::get('/{any}', ...) to catch all undefined routes - lets call this route "fallback_route"
- I c

[2022-03-03 15:25] vesper8 opened #119 "PHP 8.1 warnings for Meta::offsetGet"
Starting getting these warnings running PHP 8.1

[code]

Just a warning but would be nice if this was updated soon

[2022-03-03 15:26] vesper8 commented on #119
Warnings also apply to `Meta::offsetSet` and `Meta:offsetUnset`

[2022-03-28 14:30] BUGOVER opened #120 "Laravel 9 support"

[2022-04-04 13:03] vesper8 commented on #119
It appears that adding return types to these 3 methods makes the warnings go away:

[code]